* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.users {
  display: grid;
  gap: 15px;
}

button {
    background-color: white;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

.user {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.user h3 {
  margin-bottom: 10px;
  color: #333;
}

.user p {
  font-size: 14px;
  margin-bottom: 5px;
}
